body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
     display: flex; 
     justify-content: center; 
     align-items: center;
      background-image: url("image/bgimg.png"); 
      background-repeat: no-repeat; 
      background-position: center;
       background-size: cover; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
}

h2 {
    text-align: center;
}

.preview img {
    width: 100%;
    margin-top: 10px;
}

.controls {
    margin-top: 15px;
}

.controls input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

#downloadLink {
    display: none;
    text-align: center;
    margin-top: 15px;
    background: #28a745;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}
